@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model CRUD_Personas_Entidades.clsDepartamentos
}

<form method="POST">
    <input type="text" name="Nombre" value="@Model.Nombre" />
    <br />
    <input type="submit" value="enviar" />
</form>
